<div class="d-flex flex-column align-items-center mt-5">
  <h4>請修改你的支出</h4>
  <form action="/records/{{ record._id }}?_method=PUT" method="POST">
    <div class="mb-3">
      <p class="mb-3"><span class="text-danger">*</span>必填欄位</p>
      <label for="name" class="mb-2">名稱<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="name" name="name" value="{{ record.name }}"
        required>
    </div>
    <div class="mb-3">
      <label for="date" class="mb-2">日期<span class="text-danger">*</span></label>
      <input type="date" class="form-control" id="date" name="date" value="{{ record.date }}" required>
    </div>
    <div class="mb-3">
      <label for="categoryId">類別<span class="text-danger">*</span></label>
      <select class="form-control" id="categoryId" name="categoryId" required>

        {{#each categories}}
        <option value="{{ this._id }}" {{#ifCond this.id ../record.categoryId}} selected {{/ifCond}}>{{ this.name }}
        </option>
        {{/each}}
      </select>
    </div>
    <div class="mb-3">
      <label for="amount" class="mb-2">金額<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="amount" name="amount" placeholder="輸入金額" value="{{ record.amount }}"
        required>
    </div>
    <button type="submit" class="btn btn-primary">送出</button>
    <a href="/" class="btn btn-primary">返回</a>
  </form>
</div>