<div class="d-flex flex-column align-items-center mt-5">
  {{!-- 排序方式 --}}
  <form class="d-flex flex-row" action="/" method="GET">
    <div class="category-group input-group" style="width:400px">
      <select class="form-select col" id="category" name="categoryId" onchange="this.form.submit()">
        <option value="" disabled selected>類別</option>
        <option value="">全部類別</option>
        {{#each category}}
        <option value="{{this.id}}" {{#ifCond this.id ../categoryId}}selected{{/ifCond}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </form>
  {{!-- amount --}}
  <div class="row">
    <div class="total-amount d-flex flex-column align-items-center m-5">
      <h2 style="text-align: center">總金額:${{totalAmount}} 元</h2>
    </div>
  </div>
  {{!-- records --}}
  <ul class="record-list list-group list-group-light" style="width: 700px">
    {{#each records}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <h2 class="record-category-icon"><i class="{{imageUrl this.categoryId}}"></i></h2>
        <div class="ms-3">
          <h4 class="record-name fw-bold mb-1">{{ this.name }}</h4>
          <h5 class="record-name fw-bold mb-1">${{ this.amount }}</h5>
          <p class="record-date text-muted mb-0">{{ this.date }}</p>
        </div>
      </div>

      <div class="column">
        <a href="./records/{{ this._id }}/edit" class="btn  btn-success btn-sm mt-5" style="display: inline-block;"><i
            class="fa-solid fa-circle-plus me-2"></i>修改</a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn  btn-success btn-sm mt-5"><i
              class="fa-solid fa-circle-minus me-2"></i>刪除</button>
        </form>
      </div>

    </li>
    {{/each}}

  </ul>
  <div class="add-btn mb-5">
    <a href="/records/new" class="btn btn-primary mt-5">
      <i class="fa-solid fa-circle-plus me-2"></i>
      新增支出
    </a>
  </div>
</div>